<!DOCTYPE HTML>
<html  lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Linked Artist Books</title>

    <!-- Local CSS -->
    <link rel="stylesheet" href="lib/css/reset.css">
    <link rel="stylesheet" href="lib/css/chart.css">
    <link rel="stylesheet" href="lib/css/nav.css">
    <link rel="stylesheet" href="lib/css/timeline.css">
    <link rel="stylesheet" href="lib/css/tree.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

  </head>
  <body>
    <div ng-app="plodab" id="container" class="container">
      <div ng-controller="chartctrl" id="main" role="main">

        <div ng-model="name" id="subjects"><h2>{{name}}</h2></div>
        <div ng-repeat="s in booksubjects" id="subjects"><h2>{{s.name}}</h2></div>
        <!-- <div id="vis"></div>
        <div id="timeline"></div>
        <div id="tree"></div> -->
      </div>

    </div>

    </div> <!--! end of #container -->

    <script type="text/javascript" src="lib/javascripts/linked_books.js"></script>

    <script type="text/javascript" src="lib/javascripts/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="lib/javascripts/d3.js"></script>

    <script type="text/javascript" src="lib/javascripts/chart_dummy_data.js"></script>
    <script type="text/javascript" src="lib/javascripts/bubble_chart.js"></script>
    <script type="text/javascript" src="lib/javascripts/nav.js"></script>
    <!-- <script type="text/javascript" src="lib/javascripts/timeline.js"></script> -->
    <script type="text/javascript" src="lib/javascripts/tree.js"></script>
    <script type="text/javascript" src="lib/javascripts/d3-tip/index.js"></script>

  </body>
</html>
